<div class="pager">
	<ul class="cf">
		{% if page.previous %}
		<li class="previous"><a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ site.locales[site.default_locale].Previous }}</a></li>
		{% else %}
		<li class="disabled"><a>{{ site.locales[site.default_locale].Previous }}</a></li>
		{% endif %}
		{% if page.next %}
		<li class="next"><a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">{{ site.locales[site.default_locale].Next }}</a></li>
		{% else %}
		<li class="disabled"><a>{{ site.locales[site.default_locale].Next }}</a>
		{% endif %}
	</ul>
</div>

{% if paginator.total_pages > 1 %}
<div class="pager">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	{% else %}
	<span>&laquo; Prev</span>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
	{% if page == paginator.page %}
	<em>{{ page }}</em>
	{% elsif page == 1 %}
	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	{% else %}
	<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
	{% else %}
	<span>Next &raquo;</span>
	{% endif %}
</div>
{% endif %}