<div class="pager">
	<ul class="cf">
		{% if page.previous %}
		<li class="previous"><a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ site.locales[site.default_locale].Previous }}</a></li>
		{% else %}
		<li class="disabled"><a>{{ site.locales[site.default_locale].Previous }}</a></li>
		{% endif %}
		{% if page.next %}
		<li class="next"><a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">{{ site.locales[site.default_locale].Next }}</a></li>
		{% else %}
		<li class="disabled"><a>{{ site.locales[site.default_locale].Next }}</a>
		{% endif %}
	</ul>
</div>
