<article class="sidebar-module">
	<h2 class="sidebar-module-title">{{ site.locales[site.default_locale].Recent_Posts }}</h2>
	<ul class="recent-list">
	{% for post in site.posts limit:20 %}
		<li>
			<a href="{{ post.url }}" class="recent-link">
				<span class="recent-thumb">
				{% assign foundImage = 0 %}
				{% assign images = post.content | split:"<img " %}
				{% for image in images %}
				{% if image contains 'src' %}
					{% if foundImage == 0 %}
						{% assign html = image | split:"/>" | first %}
						<img {{ html }} >
						{% assign foundImage = 1 %}
					{% endif %}
				{% endif %}
				{% endfor %}
				</span>
				<span class="recent-title">{{ post.title }}</span>
			</a>
		</li>
	{% endfor %}
	</ul>
</article>

