<div class="sidebar-module">
	<div class="google-custum-searchbox"><gcse:searchbox></gcse:searchbox></div>
	<div class="google-custum-searchresults"><gcse:searchresults></gcse:searchresults></div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 単一ページ - 2（tokka.ipon.biz） -->
<ins class="adsbygoogle"
	style="display:block"
	data-ad-client="ca-pub-7621435269197926"
	data-ad-slot="4582090899"
	data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

