<div class="sidebar-module">
	<div class="google-custum-searchbox">
		<form id="cse-search-box" action="http://google.com/cse">
			<input type="hidden" name="cx" value="016103762364981730558:uqw1jsgxjek" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="text" name="q" size="31" />
			<input type="submit" name="sa" value="Search" />
		</form>
	</div>
	<div class="google-custum-searchresults"><gcse:searchresults></gcse:searchresults></div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 単一ページ - 2（tokka.ipon.biz） -->
<ins class="adsbygoogle"
	style="display:block"
	data-ad-client="ca-pub-7621435269197926"
	data-ad-slot="4582090899"
	data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

