/**
 * Site header
 */
.site-header {
	//Positioning context for the mobile navigation icon
	position: relative;
}

.site-title {
	a {
		background: url("data:image/svg+xml;utf8,<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"y="0px" width="600px" height="60px" viewBox="0 0 600 60" enable-background="new 0 0 600 60" xml:space="preserve"> <path fill="#FFFFFF"d="M6.886,19.833c2.685,2.501,4.88,4.697,6.528,6.405c0.671,0.732,0.732,1.525,0.122,2.379l-0.488,0.672c-0.671,0.976-1.586,1.037-2.379,0.121c-2.501-2.806-4.759-5.186-6.894-7.197c-0.732-0.732-0.793-1.525-0.183-2.38l0.244-0.366C4.507,18.49,5.605,18.613,6.886,19.833zM4.629,53.629c1.952-4.453,3.782-9.455,5.307-15.067c0.305-1.099,1.098-1.525,2.196-1.037l1.281,0.549c0.976,0.427,1.342,1.099,1.037,2.136c-1.403,5.43-3.233,10.614-5.674,15.8c-0.549,1.099-1.403,1.281-2.379,0.549l-1.037-0.854C4.507,55.094,4.324,54.423,4.629,53.629zM10.485,13.672c-1.525-1.77-3.172-3.478-4.697-5.003C4.995,7.938,4.934,7.145,5.544,6.29l0.305-0.488c0.732-0.915,1.586-1.037,2.44-0.183c1.952,1.891,3.721,3.66,5.002,5.124c0.61,0.794,0.61,1.525,0.061,2.38l-0.366,0.549C12.254,14.709,11.339,14.709,10.485,13.672zM28.055,56.436c-1.342,0-3.111-0.183-5.125-0.365c-1.098-0.123-1.647-0.732-1.708-1.77c0-0.977,0.671-1.465,1.891-1.281c1.525,0.184,2.684,0.305,3.538,0.305c0.366,0,0.732-0.427,1.159-2.379c0.305-1.281,0.488-4.637,0.549-9.517h-5.673c-0.732,5.856-2.623,10.676-6.222,14.946c-0.732,0.915-1.647,0.854-2.379-0.061l-0.61-0.732c-0.671-0.793-0.61-1.525-0.061-2.379c3.172-4.393,4.575-10.371,4.575-19.096h-3.111c-1.098,0-1.708-0.609-1.708-1.707c0-0.793,0.61-1.221,1.708-1.221h6.284v-4.514h-4.576c-1.098,0-1.708-0.61-1.708-1.709V9.889c0-1.098,0.61-1.707,1.708-1.707h3.661c0.183-0.793,0.488-2.197,0.793-4.088c0.183-1.098,0.793-1.646,1.891-1.525l1.708,0.184c1.098,0.121,1.708,0.793,1.525,1.891C25.98,5.74,25.736,6.9,25.431,8.182h5.491c1.098,0,1.708,0.609,1.708,1.707v10.311c1.464-4.758,2.562-9.699,3.538-15.252c0.183-1.098,0.916-1.586,2.013-1.402l1.037,0.184c1.098,0.121,1.647,0.854,1.464,1.951c-0.366,2.074-0.793,4.271-1.342,6.589h10.615c1.098,0,1.708,0.61,1.708,1.708c0,1.037-0.61,1.586-1.708,1.586h-0.122C49.101,27.58,47.21,36.549,43.977,43.32c1.831,3.781,3.904,7.016,6.345,9.639c0.671,0.731,0.854,1.464,0.366,2.318l-0.244,0.549c-0.549,1.098-1.525,1.281-2.379,0.365c-2.928-2.928-5.063-5.734-6.588-8.357c-1.769,2.685-4.392,5.552-7.809,8.419c-0.915,0.793-1.83,0.61-2.379-0.427l-0.244-0.488C30.373,55.947,29.396,56.436,28.055,56.436zM19.819,16.234h7.809v-5.003h-7.809V16.234zM19.819,18.734v5.309h7.809v-5.309H19.819zM33.24,40.392c-0.061,5.308-0.244,9.09-0.793,11.651c2.44-2.379,4.697-5.307,6.649-8.967c-1.952-4.881-3.233-10.432-4.087-17.082c-0.244,0.732-0.549,1.403-0.915,2.196c-0.488,1.159-1.464,1.343-2.318,0.427l-1.891-1.951h-3.599v4.514h6.222c1.098,0,1.708,0.61,1.708,1.709c0,0.793-0.61,1.219-1.708,1.219h-9.456c0,0.977-0.061,2.441-0.061,4.516h8.541C32.63,38.623,33.24,39.232,33.24,40.392zM39.34,22.456c0.549,5.673,1.281,10.493,2.318,14.337c1.647-5.125,2.867-12.385,3.477-21.23h-6.71c-0.305,1.159-0.732,2.746-1.403,4.758l0.305-0.061C38.486,20.077,39.157,20.87,39.34,22.456z"/><pathfill="#FFFFFF"d="M55.076,25.08v-0.123c0-1.098,0.61-1.707,1.708-1.707h12.201c0.793-1.77,1.647-4.271,2.562-7.321c0.305-1.037,0.976-1.524,2.013-1.343l2.013,0.306c1.159,0.122,1.647,0.915,1.342,2.013c-0.671,2.136-1.403,4.21-2.257,6.346h23.975c1.098,0,1.708,0.609,1.708,1.707v0.123c0,1.098-0.61,1.707-1.708,1.707h-5.979c-1.708,7.199-4.514,12.994-8.602,17.691c4.148,2.379,8.907,5.246,13.909,8.785c0.915,0.671,1.037,1.464,0.488,2.379l-0.549,0.977c-0.61,1.037-1.464,1.158-2.379,0.488c-6.04-4.516-10.981-7.688-14.642-9.7c-4.819,4.147-12.445,7.382-22.267,9.395c-1.098,0.183-1.769-0.244-2.013-1.343l-0.122-0.426c-0.244-1.099,0.183-1.83,1.342-2.014c8.236-1.708,14.275-4.209,18.729-7.869c-3.172-1.586-7.199-3.234-11.652-4.82c-0.427,0.428-0.976,1.221-1.647,2.014c-0.732,0.854-1.586,0.854-2.379,0.061l-0.854-0.731c-0.793-0.732-0.915-1.464-0.305-2.257c2.806-3.6,5.491-7.932,7.748-12.629H56.784C55.686,26.787,55.076,26.178,55.076,25.08zM76.793,3.24h1.83c1.098,0,1.708,0.609,1.708,1.707v4.576h17.082c1.098,0,1.708,0.609,1.708,1.708v7.016c0,1.099-0.61,1.708-1.708,1.708h-1.647c-1.098,0-1.708-0.609-1.708-1.708v-5.735H61.359v5.735c0,1.099-0.61,1.708-1.708,1.708h-1.647c-1.098,0-1.708-0.609-1.708-1.708v-7.016c0-1.099,0.61-1.708,1.708-1.708h17.081V4.947C75.085,3.85,75.695,3.24,76.793,3.24zM66.789,37.342c4.514,1.586,8.907,3.355,12.872,5.307c3.233-3.538,5.979-8.967,7.87-16.105H72.95C71.669,29.472,69.595,33.07,66.789,37.342z"/><pathfill="#FFFFFF"d="M121.767,25.17l4.53,4.529c1.164,1.164,1.165,2.459,0,3.623l-3.624,3.624c-1.165,1.164-2.459,1.164-3.624,0l-4.53-4.529c-1.165-1.165-1.164-2.459,0-3.624l3.624-3.623C119.309,24.005,120.602,24.005,121.767,25.17z"/><pathfill="#FFFFFF"d="M154.995,32.705c4.819-2.014,9.212-4.453,13.543-7.625c-2.928-2.867-5.368-5.553-7.138-7.992c-1.098,1.525-2.318,3.111-3.782,4.637c-0.793,0.914-1.708,0.854-2.44-0.062l-0.549-0.671c-0.671-0.793-0.671-1.586,0-2.44c0.366-0.366,0.732-0.854,1.281-1.524c2.745-3.417,5.186-7.626,7.321-12.445c0.427-0.977,1.098-1.342,2.135-1.037l1.281,0.305c1.159,0.305,1.525,1.098,1.098,2.196c-0.366,0.731-0.732,1.708-1.22,2.745h16.715c1.098,0,1.708,0.61,1.708,1.709v0.243c0,0.794-0.122,1.343-0.549,2.074c-2.318,4.21-5.612,8.358-9.883,12.263c3.721,2.988,7.564,5.367,11.774,7.381c0.915,0.428,1.342,1.098,1.098,2.135l-0.061,0.184c-0.183,1.158-0.976,1.646-2.074,1.158c-0.61-0.243-1.342-0.609-2.257-1.036c-4.514-2.257-8.479-4.819-11.53-7.321c-3.477,2.562-7.87,5.247-12.872,7.321c-1.647,0.671-2.379,1.036-2.745,1.159l0.183,1.22c0.183,0.976-0.183,1.708-1.037,2.136l-0.671,0.365c-1.037,0.549-1.891,0.184-2.196-0.976c-0.305-1.343-0.793-3.355-1.403-6.101v23.486c0,1.099-0.61,1.709-1.708,1.709h-0.915c-1.098,0-1.708-0.61-1.708-1.709V33.803c-1.037,3.783-2.196,6.833-3.538,9.762c-0.549,1.28-1.647,1.28-2.318,0.061l-0.915-1.709c-0.427-0.793-0.427-1.524-0.061-2.317c2.928-6.528,5.125-13.849,6.649-21.657h-4.636c-1.098,0-1.708-0.609-1.708-1.707c0-0.977,0.61-1.525,1.708-1.525h4.636V5.924c0-1.098,0.61-1.708,1.708-1.708h1.281c1.098,0,1.708,0.61,1.708,1.708v8.785h2.135c1.098,0,1.708,0.609,1.708,1.707c0,0.977-0.61,1.525-1.708,1.525h-2.318C152.981,24.957,154.202,30.021,154.995,32.705zM160.79,57.352h-1.708c-1.098,0-1.708-0.611-1.769-1.709V37.891c0-1.098,0.61-1.709,1.708-1.709l23.365-0.365c1.098,0,1.708,0.609,1.708,1.708l0.183,18.118c0,1.098-0.61,1.709-1.708,1.709h-1.83c-1.098,0-1.708-0.611-1.708-1.709v-1.525h-16.532v1.647C162.498,56.802,161.888,57.352,160.79,57.352zM179.03,51.129V38.867h-16.532v12.262H179.03zM164.023,13.123c2.562,3.904,5.125,7.016,7.503,9.333c2.928-2.745,5.734-6.222,8.236-10.614h-14.946C164.755,11.963,164.45,12.391,164.023,13.123z"/><pathfill="#FFFFFF"d="M191.106,25.08v-0.123c0-1.098,0.61-1.707,1.708-1.707h12.201c0.793-1.77,1.647-4.271,2.562-7.321c0.305-1.037,0.977-1.524,2.013-1.343l2.014,0.306c1.159,0.122,1.647,0.915,1.342,2.013c-0.671,2.136-1.402,4.21-2.257,6.346h23.975c1.099,0,1.708,0.609,1.708,1.707v0.123c0,1.098-0.609,1.707-1.708,1.707h-5.979c-1.708,7.199-4.514,12.994-8.602,17.691c4.148,2.379,8.907,5.246,13.909,8.785c0.915,0.671,1.037,1.464,0.488,2.379l-0.549,0.977c-0.61,1.037-1.465,1.158-2.38,0.488c-6.039-4.516-10.98-7.688-14.641-9.7c-4.819,4.147-12.445,7.382-22.267,9.395c-1.098,0.183-1.769-0.244-2.013-1.343l-0.122-0.426c-0.244-1.099,0.183-1.83,1.342-2.014c8.236-1.708,14.275-4.209,18.728-7.869c-3.172-1.586-7.198-3.234-11.651-4.82c-0.427,0.428-0.976,1.221-1.647,2.014c-0.732,0.854-1.586,0.854-2.379,0.061l-0.854-0.731c-0.793-0.732-0.915-1.464-0.305-2.257c2.806-3.6,5.491-7.932,7.748-12.629h-10.676C191.716,26.787,191.106,26.178,191.106,25.08zM212.824,3.24h1.83c1.099,0,1.709,0.609,1.709,1.707v4.576h17.081c1.098,0,1.708,0.609,1.708,1.708v7.016c0,1.099-0.61,1.708-1.708,1.708h-1.647c-1.098,0-1.708-0.609-1.708-1.708v-5.735H197.39v5.735c0,1.099-0.61,1.708-1.708,1.708h-1.647c-1.098,0-1.708-0.609-1.708-1.708v-7.016c0-1.099,0.61-1.708,1.708-1.708h17.081V4.947C211.116,3.85,211.726,3.24,212.824,3.24zM202.819,37.342c4.514,1.586,8.907,3.355,12.872,5.307c3.233-3.538,5.979-8.967,7.87-16.105h-14.58C207.7,29.472,205.625,33.07,202.819,37.342z"/><pathfill="#FFFFFF"d="M257.798,25.17l4.53,4.529c1.164,1.164,1.164,2.459-0.001,3.624l-3.624,3.623c-1.164,1.165-2.459,1.165-3.623,0l-4.53-4.529c-1.165-1.165-1.164-2.459,0-3.623l3.624-3.623C255.339,24.006,256.633,24.004,257.798,25.17z"/><pathfill="#FFFFFF"d="M291.818,29.472c1.159-0.427,1.952,0.062,2.074,1.281v0.062c0.062,0.976-0.366,1.646-1.342,2.013c-2.136,0.854-3.233,1.22-4.148,1.586v21.778c0,1.099-0.61,1.709-1.708,1.709h-1.77c-1.098,0-1.708-0.61-1.708-1.709V36.061c-1.403,0.427-3.478,1.037-6.101,1.708c-1.159,0.243-1.891-0.244-2.013-1.403c-0.122-0.977,0.366-1.586,1.342-1.83c1.586-0.428,3.844-1.098,6.771-2.014V16.904h-1.892c-0.365,3.6-1.098,7.139-2.073,10.799c-0.244,1.098-1.037,1.524-2.074,1.158l-0.915-0.305c-1.037-0.305-1.465-1.037-1.221-2.074c1.159-5.307,2.196-11.408,2.745-18.18c0.062-1.098,0.732-1.646,1.83-1.586l1.037,0.122c1.099,0.062,1.708,0.732,1.587,1.83c-0.122,1.647-0.306,3.294-0.488,5.003h1.464V5.924c0-1.098,0.61-1.708,1.708-1.708h1.77c1.098,0,1.708,0.61,1.708,1.708v7.748h3.904c1.098,0,1.708,0.609,1.708,1.708c0,0.976-0.61,1.524-1.708,1.524h-3.904v13.91C289.744,30.326,290.842,29.898,291.818,29.472zM322.748,23.311c0,0.976-0.611,1.525-1.709,1.525h-3.172v8.662h3.172c1.098,0,1.709,0.609,1.709,1.708c0,0.976-0.611,1.464-1.709,1.464h-3.172v12.873c0,6.893-0.672,7.747-6.588,7.747c-0.855,0-2.502-0.062-4.576-0.306c-1.037-0.121-1.586-0.731-1.646-1.769c-0.062-1.037,0.609-1.525,1.83-1.403c1.707,0.184,3.111,0.244,3.721,0.244c2.074,0,2.014,0.061,2.014-4.393V36.67h-16.715c-1.099,0-1.709-0.609-1.709-1.707c0-0.977,0.61-1.465,1.709-1.465h16.715v-8.662h-18.424c-1.098,0-1.708-0.611-1.708-1.709c0-0.976,0.61-1.525,1.708-1.525h10.553v-8.967h-8.844c-1.099,0-1.709-0.61-1.709-1.709c0-0.914,0.61-1.402,1.709-1.402h8.844v-4.82c0-1.098,0.611-1.707,1.709-1.707h1.83c1.098,0,1.709,0.609,1.709,1.707v4.82h9.271c1.098,0,1.709,0.609,1.709,1.708c0,0.915-0.611,1.403-1.709,1.403h-9.271v8.967h11.041C322.137,21.602,322.748,22.213,322.748,23.311zM301.945,49.786c-2.014-2.806-3.966-5.246-5.796-7.198c-0.731-0.793-0.731-1.586-0.061-2.379l0.488-0.549c0.731-0.916,1.646-0.916,2.439-0.062c2.562,2.685,4.699,5.246,6.466,7.626c0.549,0.793,0.549,1.586-0.182,2.379l-0.672,0.732C303.836,51.25,302.859,51.006,301.945,49.786z"/><pathfill="#FFFFFF"d="M325.307,31.119c3.721-6.895,6.832-15.312,8.602-25.5c0.184-1.098,0.854-1.647,1.951-1.465l1.404,0.244c1.098,0.123,1.646,0.854,1.402,1.953c-0.488,2.5-1.586,7.564-3.6,13.176v36.664c0,1.099-0.609,1.709-1.707,1.709h-1.221c-1.098,0-1.707-0.61-1.707-1.709V30.447c-0.732,1.77-1.344,3.051-2.074,4.332c-0.672,1.22-1.77,1.158-2.318-0.122l-0.672-1.525C325.002,32.339,324.941,31.729,325.307,31.119zM366.912,55.582v-1.159h-22.633v1.159c0,1.098-0.611,1.708-1.709,1.708h-1.646c-1.098,0-1.709-0.61-1.709-1.708V22.029c0-1.098,0.611-1.709,1.709-1.709h7.625V9.645h-7.869c-1.098,0-1.709-0.609-1.709-1.707c0-1.037,0.611-1.586,1.709-1.586h30.258c1.098,0,1.709,0.609,1.709,1.707c0,1.099-0.611,1.647-1.709,1.647h-8.297V20.32h7.748c1.098,0,1.709,0.611,1.709,1.709v33.553c0,1.098-0.611,1.708-1.709,1.708h-1.77C367.521,57.29,366.912,56.68,366.912,55.582zM348.793,51.434V23.432h-4.514v28.002H348.793zM353.613,9.706V20.32h3.904V9.706H353.613zM357.518,51.434V23.432h-3.783v28.002H357.518zM362.396,51.434h4.516V23.432h-4.516V51.434z"/><pathfill="#FFFFFF"d="M381.184,18.734c-0.123,5.674-0.488,11.226-1.1,16.96c-0.121,1.159-0.793,1.647-1.891,1.464l-0.549-0.122c-1.098-0.122-1.586-0.793-1.465-1.892c0.611-5.307,0.916-10.797,0.977-16.471c0-1.098,0.609-1.708,1.709-1.646h0.609C380.572,17.088,381.184,17.697,381.184,18.734zM386.49,5.924v50.268c0,1.099-0.609,1.709-1.709,1.709h-0.975c-1.1,0-1.709-0.61-1.709-1.709V5.924c0-1.098,0.609-1.708,1.709-1.708h0.975C385.881,4.216,386.49,4.826,386.49,5.924zM421.02,16.844c0,0.915-0.611,1.403-1.709,1.403h-9.578v4.88h12.141c1.098,0,1.707,0.61,1.707,1.709c0,0.731-0.609,1.098-1.707,1.098h-29.527c0,0,0.062,0.184,0.062,0.427c0.244,1.099-0.244,1.769-1.281,2.074l-0.488,0.122c-1.098,0.305-1.83-0.184-1.953-1.342c-0.426-3.233-0.854-6.345-1.402-9.395c-0.121-1.037,0.244-1.77,1.281-2.074l0.365-0.123c1.1-0.365,1.83,0.062,2.074,1.221c0.307,1.708,0.611,3.844,1.037,6.283h12.385v-4.88H394.42c-1.098,0-1.707-0.61-1.707-1.708c0-0.672,0.609-1.037,1.707-1.037h10.006v-4.881h-11.652c-1.098,0-1.707-0.609-1.707-1.708c0-0.793,0.609-1.22,1.707-1.22h11.652V4.947c0-1.098,0.609-1.707,1.707-1.707h1.893c1.098,0,1.707,0.609,1.707,1.707v2.746h11.104c1.098,0,1.709,0.609,1.709,1.708c0,0.793-0.611,1.22-1.709,1.22h-11.104v4.881h9.578C420.408,15.502,421.02,15.99,421.02,16.844zM395.824,57.473h-1.77c-1.098,0-1.709-0.609-1.709-1.708V31.79c0-1.099,0.611-1.708,1.709-1.708h25.256c1.098,0,1.709,0.609,1.709,1.708v20.009c0,4.82-0.672,5.491-6.406,5.491c-1.098,0-2.623-0.062-4.393-0.244c-1.098-0.062-1.646-0.671-1.707-1.769c0-1.037,0.67-1.525,1.83-1.404c1.463,0.123,2.805,0.184,3.781,0.184c2.135,0,1.709,0.061,1.709-2.258v-3.354h-18.303v7.32C397.531,56.863,396.922,57.473,395.824,57.473zM397.531,38.073h18.303v-5.124h-18.303V38.073zM397.531,40.697v5.062h18.303v-5.062H397.531z"/><pathfill="#FFFFFF"d="M445.904,34.047h4.027c1.098,0,1.707,0.61,1.707,1.709c0,0.914-0.609,1.402-1.707,1.402h-7.627v8.175h6.527c1.1,0,1.709,0.61,1.709,1.708c0,0.732-0.609,1.159-1.709,1.159h-6.527v8.296c0,1.099-0.609,1.709-1.707,1.709h-1.525c-1.098,0-1.709-0.61-1.709-1.709V48.2h-6.832c-1.098,0-1.707-0.488-1.707-1.464c0-0.916,0.609-1.403,1.707-1.403h6.832v-8.175h-7.564c-1.098,0-1.707-0.609-1.707-1.708c0-0.915,0.609-1.403,1.707-1.403h3.904c-0.73-5.062-1.463-9.395-2.256-12.689h-1.953c-1.098,0-1.707-0.609-1.707-1.707c0-0.916,0.609-1.403,1.707-1.403h7.869v-7.442h-6.465c-1.1,0-1.709-0.61-1.709-1.709c0-0.793,0.609-1.22,1.709-1.22h6.465V5.009c0-1.099,0.611-1.708,1.709-1.708h1.525c1.098,0,1.707,0.609,1.707,1.708v2.867h6.162c1.098,0,1.709,0.61,1.709,1.708c0,0.793-0.611,1.221-1.709,1.221h-6.162v7.442h7.627c1.098,0,1.707,0.61,1.707,1.708c0,0.915-0.609,1.402-1.707,1.402h-0.977C448.162,25.385,447.186,29.533,445.904,34.047zM444.074,21.357h-7.99c0.914,4.148,1.646,8.358,2.316,12.689h2.867C442.855,28.679,443.342,25.75,444.074,21.357zM468.111,45.76c2.074,3.295,4.146,5.795,6.039,7.626c0.67,0.671,0.914,1.342,0.549,2.257l-0.244,0.672c-0.428,1.158-1.342,1.463-2.318,0.67c-2.502-2.135-4.697-4.514-6.406-7.016c-1.342,2.074-2.988,4.148-4.514,5.796c-0.854,0.915-1.83,0.671-2.379-0.427l-0.428-0.793c-0.426-0.854-0.305-1.586,0.305-2.379c1.037-1.281,2.625-3.539,4.332-6.346c-2.502-4.453-4.27-8.846-5.246-12.566c-0.244-0.977,0.061-1.646,0.914-2.195l1.221-0.732c1.098-0.672,1.953-0.305,2.197,0.914c0.914,3.723,1.891,6.467,3.354,9.639c1.832-4.33,3.111-9.455,3.723-15.006h-12.08v30.014c0,1.098-0.609,1.708-1.707,1.708h-1.281c-1.098,0-1.709-0.61-1.709-1.708V7.51c0-1.098,0.611-1.708,1.709-1.708h18.361c1.037,0,1.648,0.488,1.709,1.464c-0.121,3.539-0.428,6.04-0.672,7.748c-0.426,2.562-1.281,3.416-3.781,3.416c-1.342,0-3.965-0.121-7.932-0.244c-1.098-0.061-1.707-0.609-1.768-1.708c0-0.854,0.67-1.22,1.83-1.159c2.744,0.123,4.148,0.062,5.367,0c1.221-0.061,1.465-0.854,1.709-2.623c0-0.609,0.121-1.891,0.305-3.904h-12.141v13.971h15.191c1.098,0,1.707,0.609,1.707,1.707v1.77C473.234,32.949,471.404,39.232,468.111,45.76z"/><pathfill="#FFFFFF"d="M487.506,11.109c0.916,2.014,1.646,3.904,2.439,6.223c0.855,2.318,1.77,4.941,2.562,7.564c0.367,1.037-0.061,1.77-1.098,2.074l-2.623,0.854c-1.098,0.244-1.891-0.183-2.014-1.281c-0.732-5.062-1.586-9.76-2.744-14.031c-0.367-1.036,0.061-1.707,1.037-2.073l0.244-0.122C486.285,9.889,487.018,10.194,487.506,11.109zM522.584,13.732c-5.795,18.058-14.459,31.845-31.113,40.995c-0.914,0.55-1.707,0.306-2.135-0.487c-0.428-0.916-0.244-1.648,0.609-2.197c14.58-10.37,21.109-22.327,26.293-40.445c0.307-1.037,1.037-1.403,2.074-1.037l3.234,0.977C522.584,11.902,522.889,12.635,522.584,13.732zM498.791,7.327c2.441,4.575,4.332,9.089,6.162,14.092c0.428,1.037,0.061,1.77-0.977,2.136l-2.684,0.854c-1.037,0.428-1.77,0-2.014-1.158c-1.098-5.125-2.135-9.457-3.904-14.275c-0.426-1.037-0.061-1.77,0.855-2.197l0.305-0.182C497.572,6.168,498.305,6.352,498.791,7.327z"/><pathfill="#FFFFFF"d="M571.445,17.21c-3.355,19.033-9.701,31.966-25.5,38.493c-0.977,0.367-1.648,0.062-1.953-0.854v-0.061c-0.365-0.854-0.121-1.525,0.732-2.014c12.566-6.527,17.447-18.424,20.131-34.711H540.82V32.4c0,0.976-0.549,1.525-1.525,1.525h-2.074c-0.977,0-1.525-0.55-1.525-1.525l-0.244-15.557c0-0.977,0.549-1.525,1.525-1.646h13.359V5.802c0-0.976,0.551-1.524,1.525-1.524h2.197c0.975,0,1.525,0.549,1.525,1.524v9.517h14.518C571.139,15.318,571.627,15.99,571.445,17.21z"/><pathfill="#FFFFFF"d="M595.844,40.209h-1.709c-1.098,0-1.707-0.61-1.707-1.709l-0.488-27.879c0-1.098,0.609-1.708,1.707-1.708h2.686c1.098,0,1.707,0.61,1.707,1.708L597.551,38.5C597.551,39.599,596.941,40.209,595.844,40.209zM597.855,47.65v3.234c0,1.098-0.609,1.707-1.707,1.707h-2.318c-1.098,0-1.709-0.609-1.709-1.707V47.65c0-1.098,0.611-1.707,1.709-1.707h2.318C597.246,45.943,597.855,46.553,597.855,47.65z"/></svg>");
		width: 100%;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		&,
		&:visited
		&:hover {
			color: $brand-top-color; //$grey-color-dark
			border-bottom: 1px dotted;
			text-decoration: none;
		}
	}
}

.site-meta {
	font-size: 16px;
	line-height: 3em;
	margin-bottom: 0;
	text-align:center;
	color: $grey-color;
	@include media-query($on-laptop) {
		font-size: 14px;
		line-height: 1.5;
	}
}

.site-nav {
	line-height: 56px;
	border-top: 1px solid $grey-color-light;
	border-bottom: 1px solid $grey-color-light;
	text-align: center;
	.menu-icon {
		display: none;
	}

	.page-link {
		color: $grey-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the first one

		margin-left: 20px;
		margin-right: 20px;

	}

	a {
		text-decoration: none;

		&:hover {
			color: $text-color;
			text-decoration: none;
			//font-weight: bold;
		}
	}


	@include media-query($on-palm) {
		position: relative;
		background-color: #fff;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		margin-top: 10px;

		.menu-icon {
			display: block;
			line-height: 0;
			text-align: center;

			> svg {
				width: 18px;
				height: 30px;

				path {
					fill: $grey-color-dark;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;
		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;
		}
	}

}


/**
 * Sidebar
 */

.sidebar-module {
	background-color: #fff;
	padding: $spacing-unit;
	margin-top: $spacing-unit;
	font-size: 14px;
	li{
		text-transform: uppercase;
		line-height: 1.3;
		margin-top: 10px;
	}

}
.sidebar-module-title {
	background: #88ccef;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	color: #fff;
	font-weight: bold;
	font-size: 1.3em;
	margin: 5px -25px $spacing-unit;
	padding: 5px;
	position: relative;
	text-align: center;
	&:before {
		border-width: 7px;
		border-style: solid;
		border-color: transparent;
		border-bottom-color: #91daff;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		top: -14px;
		width: 100%;
	}
}


/**
 * Site footer
 */

.site-footer {
	clear: both;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid $grey-color-light;
	margin: $spacing-unit 0;
	padding: $spacing-unit 0;
	font-size: 14px;
}



/**
 * Page content
 */
.page-content {
	background-color: #fff;
	margin-top: $spacing-unit;
	padding: $spacing-unit $spacing-unit 0;
	strong { font-weight: bold; }
}

.page-heading {
	font-size: 20px;
}



/**
 * breadcrumb
 */
.breadcrumb {
	margin: 0;
	font-size: 0.8em;
	line-height: 1.2;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	li {
		display: inline;
		list-style-type: none;
		&:not(:last-child):after {
			content: " > ";
		}
	}
	+ .post-header {
		margin-top: 1em;
	}
}

/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
	position: relative;
	padding-left: 80px;
}

.post-title {
	font-size: 38px;//42px;
	letter-spacing: -1px;
	line-height: 1;

	@include media-query($on-laptop) {
		font-size: 24px;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

.post-date {
	background-color: #88CCEF;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	font-weight: bold;
	left: 0;
	max-width: 75px;
	top: 10px;
	padding: 5px 15px;
	position: absolute;
	span {
		display: block;
		color: #fff;
		text-align: center;
		line-height: 1.1;
	}
	.day {
		font-size: 1.5em;
	}
	&:before {
		border-width: 7px;
		border-style: solid;
		border-color: transparent;
		border-bottom-color: #91daff;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		top: -14px;
		width: 100%;
	}
}

.post-link {
	display: block;
	font-size: 28px;
	@include media-query($on-laptop) {
		font-size: 22px;
		line-height: 1.2;
	}
}

.post-content {
	p { padding:20px 0; }
	margin-bottom: $spacing-unit;
	h1 {
		font-size: 38px;
		line-height:1em;
		@include media-query($on-laptop){
			font-size: 24px;
		}

	}
	h2 {
		font-size: 32px;
		line-height:1em;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;
		line-height:1em;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;
		line-height:1em;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}


/**
 * Pagination Style
 */

.pager {
	margin-bottom: 60px;
	text-align: center;
	ul { display: block; margin: 20px 0; }
	li{list-style: none;}
	li.previous a{float:left;}
	li.next a{float:right;}
	li.disabled {display:none;}
}


/**
 * Tags and Categories Style
 */
.category-select {
	margin-top: 10px;
	select {
		height: 2em;
		overflow: hidden;
		width: 100%;
	}
}
.tags-box{
	li {
		list-style: none;
		font-weight: bold;
		margin-top:10px;
	}
	.size{
		font-size: 0.7em; font-weight: bold; vertical-align: super;
	}
}


/*time style of tages and categories*/

time{
	margin-left: $spacing-unit;
	font-style: italic;
}



/**
 * Aboutme photo Style
 */

.about{
	img {
		height: 128px;
		width: 128px;
		border-radius:50%;
		margin: 0 auto;
		display: block;
	}
}



/**
 * New style for quotation.
 */

q:before {
	content: '『';
	color: #DD1144;
	font-weight:bold;
}
q:after {
	content:'』';
	color: #DD1144;
	font-weight:bold;
}

