/**
 * Site header
 */
.site-header {
	//Positioning context for the mobile navigation icon
	position: relative;
	padding-top: 10px;
}

.site-title {
	max-width: 600px;
	margin: 0 auto;
	a {
		background: url("/images/logo.svg") no-repeat center;
		background-size: contain;
		display: block;
		overflow: hidden;
		padding: 1%;
		text-indent: 100%;
		white-space: nowrap;
		width: 100%;
	}
}

.site-meta {
	font-size: 16px;
	line-height: 3em;
	margin-bottom: 0;
	text-align:center;
	color: #f0f0f0;
	@include media-query($on-laptop) {
		font-size: 14px;
		line-height: 1.5;
	}
}

.site-nav {
	line-height: 2em;
	border-top: 1px solid $grey-color-light;
	border-bottom: 1px solid $grey-color-light;
	text-align: center;
	.menu-icon {
		display: none;
	}

	.page-link {
		color: #f0f0f0;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the first one

		margin-left: 20px;
		margin-right: 20px;
		&:hover {
			color: #fff;
			text-shadow: 0 1px 5px #666;
		}
	}

	@include media-query($on-palm) {
		position: relative;
		background-color: #fff;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		margin-top: 10px;

		.menu-icon {
			display: block;
			line-height: 0;
			text-align: center;

			> svg {
				width: 18px;
				height: 30px;

				path {
					fill: $grey-color-dark;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;
		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			color: $grey-color;
			display: block;
			padding: 5px 10px;
		}
	}

}


/**
 * Sidebar
 */

.sidebar-module {
	background-color: #fff;
	padding: $spacing-unit;
	margin-top: $spacing-unit;
	font-size: 14px;
	li {
		text-transform: uppercase;
		line-height: 1.3;
		margin-top: 10px;
	}

}
.sidebar-module-title {
	background: #59ADD8;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	color: #fff;
	font-weight: bold;
	font-size: 1.3em;
	margin: 5px -25px $spacing-unit;
	padding: 5px;
	position: relative;
	text-align: center;
	&:before {
		border-width: 7px;
		border-style: solid;
		border-color: transparent;
		border-bottom-color: #7BC5EA;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		top: -14px;
		width: 100%;
	}
}


/**
 * Site footer
 */

.site-footer {
	clear: both;
	color: #ccc;
	text-align: center;
	padding: $spacing-unit 0;
	font-size: 14px;
	a {
		color: #fff;
	}
}



/**
 * Page content
 */
.page-content {
	background-color: #fff;
	margin-top: $spacing-unit;
	padding: $spacing-unit $spacing-unit 0;
	strong { font-weight: bold; }
}

.page-heading {
	font-size: 20px;
}



/**
 * breadcrumb
 */
.breadcrumb {
	margin: 0;
	font-size: 0.8em;
	line-height: 1.2;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	li {
		display: inline;
		list-style-type: none;
		&:not(:last-child):after {
			content: " > ";
		}
	}
	+ .post-header {
		margin-top: 1em;
	}
}

/**
 * Posts & Pages
 */
.post-header,
.page-header {
	margin-bottom: $spacing-unit;
	position: relative;
}
.post-header {
	padding-left: 80px;
}

.page-title,
.post-title {
	font-size: 38px;//42px;
	letter-spacing: -1px;
	line-height: 1;

	@include media-query($on-laptop) {
		font-size: 24px;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

.post-date {
	background-color: #59ADD8;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	font-weight: bold;
	left: 0;
	max-width: 75px;
	top: 10px;
	padding: 10px;
	position: absolute;
	span {
		display: block;
		color: #fff;
		text-align: center;
		line-height: 1.1;
	}
	.day {
		font-size: 2em;
	}
	&:before {
		border-width: 7px;
		border-style: solid;
		border-color: transparent;
		border-bottom-color: #7BC5EA;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		top: -14px;
		width: 100%;
	}
}

.post-link {
	display: block;
	font-size: 28px;
	@include media-query($on-laptop) {
		font-size: 22px;
		line-height: 1.2;
	}
}

.post-content {
	p { padding:20px 0; }
	margin-bottom: $spacing-unit;
	h1 {
		font-size: 38px;
		line-height:1em;
		@include media-query($on-laptop){
			font-size: 24px;
		}

	}
	h2 {
		font-size: 32px;
		line-height:1em;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;
		line-height:1em;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;
		line-height:1em;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}


/**
 * Pagination Style
 */

.pager {
	text-align: center;
	ul { display: block; margin: 20px 0; }
	li{list-style: none;}
	li.previous a{float:left;}
	li.next a{float:right;}
	li.disabled {display:none;}
}


/**
 * Tags and Categories Style
 */
.category-select {
	margin-top: 10px;
	select {
		height: 2em;
		overflow: hidden;
		width: 100%;
	}
}
.tags-box{
	li {
		list-style: none;
		font-weight: bold;
		margin-top:10px;
	}
	.size{
		font-size: 0.7em; font-weight: bold; vertical-align: super;
	}
}


/*time style of tages and categories*/

time {
	margin-left: $spacing-unit;
	font-style: italic;
}



/**
 * Aboutme photo Style
 */

.about {
	img {
		height: 128px;
		width: 128px;
		border-radius:50%;
		margin: 0 auto;
		display: block;
	}
}



/**
 * New style for quotation.
 */

q:before {
	content: '『';
	color: #DD1144;
	font-weight:bold;
}
q:after {
	content:'』';
	color: #DD1144;
	font-weight:bold;
}


/**
 * ie8
 */

.ie8 {
	.site-title {
		a {
			background: url("/images/logo.png") no-repeat center;
		}
	}
}