<!DOCTYPE html>
<!--[if lte IE 8]><html class="ie8"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

{% include head.html %}

<body>
<div class="container">
	{% include header.html %}

	{% if site.default_column == "two" %}

	<div class="page-content col-sm-8">
		{{ content }}
		{% include post_pagination.html %}
	</div>
	{% include sidebar.html %}

	{% else %}

	<div class="page-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>
	{% include post_pagination.html %}

	{% endif %}

	{% include footer.html %}
</div>

<script type="text/javascript">
//<![CDATA[
(function(d){
if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_2546ecd3d203b2587a9551da55b6d415)=='undefined'){ document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/2546ecd3d203b2587a9551da55b6d415'><\/sc"+"ript>");
}else{ window.NINJA_CO_JP_ONETAG_BUTTON_2546ecd3d203b2587a9551da55b6d415.ONETAGButton_Load();}})(document);
//]]>
</script>
<script type="text/javascript" src="http://rcm.shinobi.jp/js/imp.js"></script>
<script type="text/javascript" src="http://rcm.shinobi.jp/r/63beba222c34db5fd165a72d34788dc2"></script>
{% include analytics.html %}
</body>
</html>
