---
layout: default
---
<div class="post">
	<ol class="breadcrumb">
		<li><a href="{{ site.baseurl }}/">Home</a></li>
		<li>
		{% for cat in page.categories %}
		<a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>
		{% endfor %}</li>
		<li class="active">{{ page.title }}</li>
	</ol>

	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">
		{{ site.locales[site.default_locale].PostedInCategories }}
		{% for cat in page.categories %}
		<a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>&nbsp;
		{% endfor %}
		{% if page.tags != empty %}
		{{ site.locales[site.default_locale].Taggedwith }}
		{% for tag in page.tags %}
		<a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }} </a>{% unless page.tags.last == tag %}, {% endunless %}
		{% endfor %}
		{% endif %}
		</p>
		<div class="ninja_onebutton">
		<script type="text/javascript">
		//<![CDATA[
		(function(d){
		if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_24749e6410c29898fafd2d4cd8e7eeb6)=='undefined'){
		        document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/24749e6410c29898fafd2d4cd8e7eeb6'><\/sc"+"ript>");
		}else{
		    window.NINJA_CO_JP_ONETAG_BUTTON_24749e6410c29898fafd2d4cd8e7eeb6.ONETAGButton_Load();}
		})(document);
		//]]>
		</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
		</div>
		<p class="post-date"><span>{{ page.date | date: "%Y.%-m" }}</span><span class="day">{{ page.date | date: "%-d" }}</span></p>
	</header>

	<article class="post-content">
		{{ content }}
	</article>
	<hr />
</div>


{% include page_pagination.html%}
{% include comments.html %}

